[submodule "quadtree/zig-rtree"]
	path = quadtree/zig-rtree
	url = https://github.com/nDimensional/zig-rtree
[submodule "ggvec"]
	path = ggvec
	url = git@github.com:joeltg/ggvec.git
[submodule "zumap"]
	path = zumap
	url = git@github.com:joeltg/zumap.git
